body{
text-align:center;
}

.perfil{
width:190px;
border-radius:3%;
}

.contenido-paralaje {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;

}
#trabajosec{
margin: 8px auto;
}

#etiqueta-bienvenida{
position: absolute;
height:100%;
background:linear-gradient(#f4fc03 0%,#49fc03 100%);
display:table;
width:100%;
opacity:0.8;
bottom:0px;
overflow: hidden;

}

#seccion2{
padding-left:100px;
padding-right:100px;
padding-top:600px;
text-align:center;
font-size: 25px;

margin-bottom: 70px;
}

.menu{
position: fixed;
color: aqua;
font-family: monospace;
right: 4px;
cursor:pointer;
}

.links{
list-style: none;
font-size:20px;
padding-left: 6px;
padding-right: 8px;
padding-bottom:6px;
float: left;
display: inline;
}
.links:hover{
background-color:cornflowerblue;
font-size: 25px;
text-decoration: underline;
}
.linea{
height: 6px;
background-color: cyan;
width: 70px;
margin: 8px auto;
}

html{
scroll-behavior:smooth;
}

a{
text-decoration: none;
color: crimson;
text-shadow: 2px 2px gainsboro;
}
h1{
text-align: center;
}
.contactos h3
{
    display: inline;
}
.boots{
position:sticky;
top:0px;
z-index:10;
}